<ul class="sidebar-menu"> 
<li class="header">功能菜单列表</li> 
<li class="treeview"> 
<a href="http://weixin_voting_system.com/admin/dashboard"><i class="fa fa-home"></i> <span>控制面板</span></a> 
<a href="http://weixin_voting_system.com/#"><i class="fa fa-user"></i> <span>基础人员信息管理</span><i class="fa fa-angle-left pull-right"></i></a> 
<ul class="treeview-menu"> 
<li><a href="http://weixin_voting_system.com/admin/basic_personnel"><i class="fa fa-user"></i> <span>人员信息</span></a></li> 
<li><a href="http://weixin_voting_system.com/admin/image_space"><i class="fa fa-photo"></i> <span>图片空间</span></a></li> 
<a href="http://weixin_voting_system.com/#"><i class="fa fa-cogs"></i> <span>管理工具</span><i class="fa fa-angle-left pull-right"></i></a> 
<ul class="treeview-menu"> 
<li><a href="http://weixin_voting_system.com/admin/tool/upload"><i class="fa fa-cloud-upload"></i> <span>图片管理器</span></a></li> 
<li><a href="http://win_voting_system.com/#"><i class="fa fa-database"></i> <span>数据库</span><i class="fa fa-angle-left pull-right"></i></a></li>  
<ul class="treeview-menu"> 
<li><a href="http://weixin_voting_system.com/#"><i class="fa fa-folder"></i> <span>文件管理</span><i class="fa fa-angle-left pull-right"></i></a></li>  
<ul class="treeview-menu"> 
<a href="http://weixin_voting_system.com/#"><i class="fa fa-tachometer"></i> <span>系统设置</span><i class="fa fa-angle-left pull-right"></i></a>  
<ul class="treeview-menu"> 
<li><a href="http://weixin_voting_system.com/admin/menu"><i class="fa fa-bars"></i> <span>菜单配置</span></a></li>  
<ul class="treeview-menu"> 
<li><a href="http://weixin_voting_system.com/#"><i class="fa fa-th"></i> <span>全局配置</span><i class="fa fa-angle-left pull-right"></i></a></li>  
<ul class="treeview-menu"> 
</ul>  
</ul>        
<a href="http://weixin_voting_system.com/#"><i class="fa fa-weixin"></i> <span>微信WeChat</span><i class="fa fa-angle-left pull-right"></i></a>  
<ul class="treeview-menu"> 
<li><a href="http://weixin_voting_system.com/#"><i class="fa fa-wechat"></i> <span>公众号分类</span><i class="fa fa-angle-left pull-right"></i></a></li>  
<ul class="treeview-menu"> 
</ul>  
<li><a href="http://weixin_voting_system.com/#"><i class="fa fa-wechat"></i> <span>公众号绑定</span><i class="fa fa-angle-left pull-right"></i></a></li>  
<ul class="treeview-menu"> 
</ul>  
<li><a href="http://weixin_voting_system.com/#"><i class="fa fa-wechat"></i> <span>开发者绑定</span><i class="fa fa-angle-left pull-right"></i></a></li>  
<ul class="treeview-menu"> 
</ul>  
</ul>        
<a href="http://weixin_voting_system.com/#"><i class="fa fa-sliders"></i> <span>管理员入口</span><i class="fa fa-angle-left pull-right"></i></a>  
<ul class="treeview-menu"> 
<li><a href="http://weixin_voting_system.com/admin/auth/index"><i class="fa fa-user"></i> <span>用户管理</span></a></li> 
</ul>            
<a href="http://weixin_voting_system.com/#"><i class="fa fa-puzzle-piece"></i> <span>模板管理</span><i class="fa fa-angle-left pull-right"></i></a>  
<ul class="treeview-menu"> 
</ul>    
<a href="http://weixin_voting_system.com/#"><i class="fa fa-cart-plus"></i> <span>云市场</span><i class="fa fa-angle-left pull-right"></i></a>  
<ul class="treeview-menu"> 
</ul>    
<a href="http://weixin_voting_system.com/#"><i class="fa fa-bar-chart"></i> <span>大数据</span><i class="fa fa-angle-left pull-right"></i></a>  
<ul class="treeview-menu"> 
</ul>        
<a href="http://weixin_voting_system.com/#"><i class="fa fa-cubes"></i> <span>模块管理</span><i class="fa fa-angle-left pull-right"></i></a>  
<ul class="treeview-menu"> 
<li><a href="http://weixin_voting_system.com/#"><i class="fa fa-share"></i> <span>投票活动</span><i class="fa fa-angle-left pull-right"></i></a></li>  
<ul class="treeview-menu"> 
<li><a href="http://weixin_voting_system.com/admin/voting_classification"><i class="fa fa-circle-o"></i> <span>投票活动分类</span></a></li> 
<li><a href="http://weixin_voting_system.com/admin/voting_management"><i class="fa fa-circle-o"></i> <span>投票活动管理</span></a></li> 
</ul>  
<li><a href="http://weixin_voting_system.com/#"><i class="fa fa-pencil-square-o"></i> <span>问卷调查</span><i class="fa fa-angle-left pull-right"></i></a></li>  
<ul class="treeview-menu"> 
</ul>  
<li><a href="http://weixin_voting_system.com/#"><i class="fa fa-file-image-o"></i> <span>相册幻灯片</span><i class="fa fa-angle-left pull-right"></i></a></li>  
<ul class="treeview-menu"> 
</ul>  
</ul>    
</ul>
</ul>
</ul>
</ul>
</ul>
</li>
</ul>


