@font-face {font-family: 'webfont';
  src: url('//at.alicdn.com/t/xj66iid8ncqbbj4i.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/xj66iid8ncqbbj4i.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/xj66iid8ncqbbj4i.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/xj66iid8ncqbbj4i.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/xj66iid8ncqbbj4i.svg#思源黑体-粗') format('svg'); /* iOS 4.1- */
}

html,body{
	font-family: 'webfont';
	font-size: 15px;
}